---
layout: default
title: Contact
---
{% include header.html %}
<p>As we are based in Germany, we are required by law to publish the following information in German. You will find a translation at the bottom of the page.</p>

<h2>Impressum</h2>

<p>Angaben gemäß §5 TMG:<br>
Benjamin Altpeter<br>
Schreinerweg 6<br>
38126 Braunschweig<br>
Deutschland</p>

<p>Telefon: +49 531 615 4 710<br>
Telefax: +49 531 615 4 288<br>
e-Mail (Fragen zum Projekt): <a href="mailto:p2gstick@raabeschule.net">p2gstick@raabeschule.net</a><br>
e-Mail (Sonstiges): <a href="mailto:kontakt@benjamin-altpeter.de">kontakt@benjamin-altpeter.de</a></p>

<p>Verantwortlich für den Inhalt nach §55 Abs. 2 RStV:<br>
Benjamin Altpeter<br>
Lorenz Sieben<br>
(über jedem Artikel findet sich eine Autorenangabe, bei Fragen kontaktieren Sie bitte die oben genannte e-Mail-Adresse)</p>

<h2>English Translation</h2>

<p>Information according to §5 of German TMG:<br>
Benjamin Altpeter<br>
Schreinerweg 6<br>
38126 Braunschweig<br>
Germany</p>

<p>Phone: +49 531 615 4 710<br>
Fax: +49 531 615 4 288<br>
e-mail (regarding the project): <a href="mailto:p2gstick@raabeschule.net">p2gstick@raabeschule.net</a><br>
e-mail (everything else): <a href="mailto:kontakt@benjamin-altpeter.de">kontakt@benjamin-altpeter.de</a></p>

<p>Responsible for the content according to §55 paragraph 2 of German RStV:<br>
Benjamin Altpeter<br>
Lorenz Sieben<br>
(the responsible author is mentioned above each post, please contact the e-mail mentioned above in case of any questions)</p>
{% include footer.html %}