<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }} | p2gstick - privacy to go</title>
  </head>

  <body>
    <a href="https://github.com/ppcbenni/p2gstick-website"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-cerulean@2x.png" alt="Fork me on GitHub"></a>
    <header>
      <div class="inner">
        <h1><a href="{{ site.url }}{{ site.baseurl }}">p2gstick</a></h1>
        <h2>privacy to go - easy and secure e-mail encryption on a USB stick</h2>
        <!--
        This is reserved for a 'buy-now' button which apparently wouldn't lead anywhere as of now.
        And yes, I am indeed aware of the fact that it is bad practice to have those todo-ish type comments in your production version but THB I don't care. Well, and it's Open Source so you're supposed to be able to know what's going on, aren't you ;)
        <a href="https://github.com/ppcbenni/p2gstick" class="button"><small>View project on</small>GitHub</a> -->
        <nav><a href="{{ site.url }}{{ site.baseurl }}">Home</a> | <a href="{{ site.url }}{{ site.baseurl }}/blog">Blog</a> | <a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></nav>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">